.hide {
  display: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
}

header, #div-weather, footer {
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

main {
  margin-bottom: 2rem;
}

#div-form, #div-search-tips, #div-weather {
  width: fit-content;
  margin: 1rem auto;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 8px;
}

#div-form {
  padding: 1rem;
}

#form-weather-search > p {
  width: fit-content;
  margin: 0 auto 1rem auto;
}

input {
  padding: .5rem;
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 0%);
}

#span-error {
  display: block;
  margin-top: .25rem;
  color: hsl(0, 100%, 50%);
}

#btn-submit {
  display: block;
  margin: 0 auto;
  padding: .5rem 1rem;
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 4px;
  font-weight: 700;
}

#div-search-tips {
  padding: 1rem;
}

#div-search-tips > h3 {
  font-size: 1.15rem;
}

#list-search-tips {
  list-style: disc;
}

#list-search-tips > li {
  margin-bottom: .5rem;
  margin-left: 1.15rem;
}

#div-weather {
  padding: 2rem;
}

#div-weather > div {
  margin-bottom: 2rem;
}

#div-weather > div:last-of-type {
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 2rem;
}

#span-temp {
  font-weight: 700;
  font-size: 2.5rem;
}

#list-extras {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-extras > li {
  margin: 0 1rem;
}

#list-extras > li > h4 {
  text-transform: uppercase;
}

/* Active States */
#btn-submit:hover {
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 100%, 100%);
}